<div class="game">
	<div class="table">
        <div class="top"> N </div>
        <div class="right"> E </div>
        <div class="bottom"> S </div>
        <div class="left"> W </div>
	</div>
    <div class="players-layout">
        <table class="players-sides">
        <th>#</th>
        <th>North</th>
        <th>East</th>
        <th>South</th>
        <th>West</th>
        <tr>
            <td>nick</th>
            <td><button ng-click="joinAs("north")">join</button></td>
            <td><button ng-click="joinAs("east")">join</button></td>
            <td><button ng-click="joinAs("south")">join</button></td>
            <td><button ng-click="joinAs("west")">join</button></td>
        </tr>
    </table>
    </div>
</div>
