<div class="game">
    <div class="table">
        <div class="top"><canvas id="northCanvas" width="400" height="180"></canvas> N </div>
        <div class="right"><canvas id="eastCanvas" width="120" height="550"></canvas>E </div>
        <div class="bottom"><canvas id="southCanvas" width="300" height="180"></canvas> S </div>
        <div class="left"><canvas id="westCanvas" width="120" height="550"></canvas> W </div>
    </div>

    <div class="players-layout">
        <table class="players-sides">
            <th>#</th>
            <th>North</th>
            <th>East</th>
            <th>South</th>
            <th>West</th>
            <tr>
                <td>nick</th>
                <td><button ng-click="joinAs('north')">join</button></td>
                <td><button ng-click="joinAs('east')">join</button></td>
                <td><button ng-click="joinAs('south')">join</button></td>
                <td><button ng-click="joinAs('west')">join</button></td>
            </tr>
        </table>
    </div>
    <button ng-click="deal()">Deal!</button>

</div>

