.login {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  input.username{
    border-radius: 5px;
    width: 204px;
    height: 21px;
    text-align: center;
  }

  button.sign-in {
    margin-top: 10px;
    margin-left: 69px;
    width: 70px;
    height: 26px;
    border-radius: 13px;
    border: none;
    background-color: #6FC6FB;
    font-family: open sans-serif;
    font-size: 15px;
  }
  
  button.sign-in:focus {
      outline-width: 0;
  }
  
}

.game {
    margin: auto;
    width: 50%;
    text-align: center;
}
