.login {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  input.username{
    border-radius: 5px;
    width: 204px;
    height: 21px;
    text-align: center;
  }

  button.sign-in {
    margin-top: 10px;
    margin-left: 69px;
    width: 70px;
    height: 26px;
    border-radius: 13px;
    border: none;
    background-color: #6FC6FB;
    font-family: open sans-serif;
    font-size: 15px;
  }
  
  button.sign-in:focus {
      outline-width: 0;
  }
  
}

.game {
    margin: auto;
    width: 100%;
    text-align: center;
    overflow:hidden;
    height: 700px;
}

.table {
    float:left;
    width:70%;
    background-color: green;
    height:100%;
    
    div {
    	width: 100px;
    	height: 100px;
    	background-color: red;
    }
    
    .top {
      	margin: 10px auto;
    }
    
	.bottom {
        margin: 480px auto;
    }
    
    .right {
        position: absolute;
        top: 300px;
        left: 950px;
    }
    
    .left {
    	position: absolute;
  		top: 300px;
  		left: 20px;
    }
}

.players-layout {
    float:left;
    width:30%;
    height:50px;
}